@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:wght@400;700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
padding: 0;
margin: 0;
box-sizing: border-box;
font-family: "Open Sans", sans-serif;
}


li {
    list-style-type: none;
}

.link__hover-effect {
    position: relative;
}

.link__hover-effect:after {
content: "";
position: absolute;
bottom: -3px;
height: 3px;
width: 0;
right: 0;
background-color: rgb(96, 48, 177);
transition: all 300ms ease;
}

.link__hover-effect:hover:after {
    left: 0;
    width: 100%;
}


/* 

NAVIGATION 

*/

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    height: 100px;
}

.nav__logo {
    height: 80px;
    width: 160px;
}

.nav__link--list {
    display: flex;
    align-items: center;
}

.nav__link {
    margin: 0 12px;
}

.nav__link--anchor {
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    color: rgb(10, 31, 68);
}

.btn {
    color: #6030b1;
    cursor: pointer;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 1px;
    padding: 12px 40px;
    border-width: 2px;
    border-style: initial;
    border-color: rgb(93, 62, 255);
    border-image: initial;
    border-radius: 50px;
}

.btn:hover {
    color: white;
    background-color: #ff328f;
    transition: all 300ms ease;
}


h1 {
    font-weight: 500;
    letter-spacing: 2px;
    text-align: center;
    letter-spacing: .1em;
    font-size: 45px;
    max-width: 1000px;
    margin-bottom: 40px;
    color: #fff;
}